header{
  height: 50pt;
  background-color: #0f4162;
  align-items: center;
  justify-content: center;
    
}

.logoAndTextAndLoginButton{
display: flex;
flex-direction: row;
height: 50pt;
width: 95%;
align-items: center;
justify-content: flex-start;
margin-left: 15pt;
/* background-color: red; */
padding-top: 4pt;
justify-content: space-between;
}


.logoAndText{
  display: flex;
  align-items: center;
}


.sign-in{
  padding-right: 10px;
  color: white;
  box-shadow: 0px 0px 1px 1px  white;
  text-align: center;
  padding: 10px;
  border-radius: 10px;
}


.sign-in:hover{
  background-color: white; 
  color: #0f4162;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

body{
    background-color: #ffffff;
      
}
#logo{
width: 100pt;
height:30pt;
object-fit:fill;
}


#menu{
    object-position: right;
}
#title{
   
  color:#0f4162;
  margin-top: 50pt;
  text-align: center;
  font-size:50pt;


}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    position: relative;
    top: 15;
    margin-left: -10pt;
    width: 110%;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: #111;
  }
  
  .active {
    background-color: #4CAF50;
  }
 #intro{
    color:#0f4162;
    text-align: center;
    resize: both;
    

 }

 
body {
  background: offwhite;
  font-family: Arial, sans-serif;
 }

footer {
  background-color: #0f4162;
  color: #fff;
  text-align: center;
  padding: 1rem;
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;    
}

main {
  padding: 2rem;
  margin-top:3%;
}

.contact-form {
  max-width: 500px;
  margin: 0 auto;
}

label, input, textarea {
  display: block;
  margin-bottom: 1rem;
}

input, textarea {
  width: 100%;
  padding: 0.5rem;
}

button {
  background-color: #0f4162;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}